:root {
  --color-blue-5: #3891b1;
  --color-blue-80: #1e6a8e;
  --color-blue-100: #004974;
  --color-blue-120: #003b63;

  --color-orange-5: #FFF3EB;
  --color-orange-100: #ff8b37;

  --color-red-5: #fdeeed;
  --color-red-100: #ec6259;

  --color-green-5: #e6faea;
  --color-green-100: #47d867;

  --color-white-100: #fff;

  --color-black-40: #d0d0d8;

  --color-info-120: #397DF6FF;

  --coloe-black-120: #000
}
