.button {
  all: unset;
  box-sizing: border-box;
  display: block;
  width: 296px;
  padding: 21px 0;
  border-radius: 12px;
  background-color: var(--color-blue-5);
  color: var(--color-white-100) !important;
  text-align: center;
  transition: 0.1s background-color linear;
  cursor: pointer;

  &:hover {
    background-color: var(--color-blue-5);
  }

  &:active {
    background-color: var(--color-blue-120);
  }

  &.fullwidth {
    width: 100%;
  }
}
